@import "tailwindcss";

@theme {
  --color-cork-warm: #FAFAFA;
  
  --color-ink: #1A1A1A;
  --color-ink-soft: #6B6B6B;
  
  --color-papaya: #E24E42;
  --color-mustard: #E9B000;
  --color-blush: #EB6E80;
  --color-aqua: #008F95;
  
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
}

body {
  font-family: var(--font-sans);
  background: var(--color-cork-warm);
  color: var(--color-ink);
}